<include file="./Application/Admin/View/Public/header.html" title="左侧导航" />
<script type="text/javascript">
    window.open('__MODULE__/gitHub/index','rightFrame');
</script>
</head>
<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>其它</div>
    <dl class="leftmenu">
        <dd>
        <div class="title">
        <span><img src="__PUBLIC__/images/leftico01.png" /></span>GitHub
        </div>
            <ul class="menuson">
            <li class="active">
                <cite></cite>
                <a href="__MODULE__/gitHub/index" target="rightFrame">224git版本库</a>
                <i></i>
            </li>
            <!-- <li>
                <cite></cite>
                <a href="__MODULE__/formwork/addForm" target="rightFrame">添加模板</a>
                <i></i>
            </li> -->
            </ul>
        </dd>
        <!-- <dd>
        <div class="title">
        <span><img src="__PUBLIC__/images/leftico02.png" /></span>后台模板
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="/Formwork/work1/main.html" target="_blank">模板1</a><i></i></li>
            </ul>
        </dd>
        <dd><div class="title"><span><img src="__PUBLIC__/images/leftico03.png" /></span>编辑器</div>
        <ul class="menuson">
            <li><cite></cite><a href="#">自定义</a><i></i></li>
            <li><cite></cite><a href="#">常用资料</a><i></i></li>
            <li><cite></cite><a href="#">信息列表</a><i></i></li>
            <li><cite></cite><a href="#">其他</a><i></i></li>
        </ul>
        </dd>
        <dd><div class="title"><span><img src="__PUBLIC__/images/leftico04.png" /></span>日期管理</div>
        <ul class="menuson">
            <li><cite></cite><a href="#">自定义</a><i></i></li>
            <li><cite></cite><a href="#">常用资料</a><i></i></li>
            <li><cite></cite><a href="#">信息列表</a><i></i></li>
            <li><cite></cite><a href="#">其他</a><i></i></li>
        </ul>
        </dd> -->
    </dl>
<include file="./Application/Admin/View/Public/footer.html" />
