<include file="Public/header" title="左侧导航" />
<script type="text/javascript">
    window.open('__MODULE__/index/main','rightFrame');
</script>
</head>
<body style="background:#f0f9fd;">
    <!-- <div class="lefttop"><span></span>通讯录</div> -->
    <dl class="leftmenu">
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/leftico01.png" /></span>管理信息
    </div>
        <ul class="menuson">
        <li class="active"><cite></cite><a href="__MODULE__/index/main" target="rightFrame">首页</a><i></i></li>
        <li><cite></cite><a href="__MODULE__/cate" target="rightFrame">添加分类</a><i></i></li>
        <li><cite></cite><a href="__MODULE__/cate/getList" target="rightFrame">分类列表</a><i></i></li>
        </ul>
    </dd>
   <!--  <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/leftico02.png" /></span>其他设置
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="#">编辑内容</a><i></i></li>
        <li><cite></cite><a href="#">发布信息</a><i></i></li>
        <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
        </ul>
    </dd>
    <dd><div class="title"><span><img src="__PUBLIC__/images/leftico03.png" /></span>编辑器</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">自定义</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="#">信息列表</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>
    </dd> -->
    <dd><div class="title"><span><img src="__PUBLIC__/images/leftico04.png" /></span>常用资料</div>
    <ul class="menuson">
        <li><cite></cite><a href="__MODULE__/doc" target="rightFrame">文档资源</a><i></i></li>
        <li><cite></cite><a href="__MODULE__/uml" target="rightFrame">类图</a><i></i></li>
        <li><cite></cite><a href="__MODULE__/uml/chart" target="rightFrame">时序图</a><i></i></li>
    </ul>
    </dd>
    </dl>
<include file="Public/footer" />
