<include file="Public/header" title="头部信息" />
<style type="text/css">
    .nav li img{width: 35px;height: 35px;margin-top: 20px;}
    .nav li h2{padding:5px 0 5px 0;}
</style>
</head>
<body style="background:url(__PUBLIC__/images/topbg.gif) repeat-x;">
    <div class="topleft">
        <h1>
            <a href="/" target="_parent" style="line-height: 88px;font-size: 32px;color: white;margin-left:20px;">代码库</a>
        </h1>
    </div>
    <ul class="nav">
    <li>
        <a href="__ROOT__/index.php/Admin/Index/left" target="leftFrame" class="selected">
            <img src="__PUBLIC__/images/ico01.png" title="首页" />
            <h2>首页</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Html"  target="leftFrame">
            <img src="__PUBLIC__/images/html.jpg" title="HTML" />
            <h2>HTML</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Js"  target="leftFrame">
            <img src="__PUBLIC__/images/js.png" title="JS" />
            <h2>JS</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Php" target="leftFrame">
            <img src="__PUBLIC__/images/php.png" title="PHP" />
            <h2>PHP</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Java" target="leftFrame">
            <img src="__PUBLIC__/images/java.png" title="JAVA" />
            <h2>JAVA</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Mysql" target="leftFrame">
            <img src="__PUBLIC__/images/mysql.png" title="MySQL" />
            <h2>MySQL</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Ubuntu"  target="leftFrame">
            <img src="__PUBLIC__/images/ubuntu.png" title="Ubuntu" />
            <h2>Ubuntu</h2>
        </a>
    </li>
    <li>
        <a href="__ROOT__/index.php/Other"  target="leftFrame">
            <img src="__PUBLIC__/images/other.png" title="其它" />
            <h2>其它</h2>
        </a>
    </li>
    </ul>
    <div class="topright">
    <ul>
    <li>
        <span><img src="__PUBLIC__/images/help.png" title="帮助"  class="helpimg"/></span>
        <a href="#">帮助</a>
    </li>
    <li>
        <a href="#">关于</a>
    </li>
    <li>
        <a href="login.html" target="_parent">退出</a>
    </li>
    </ul>
    <div class="user">
        <span>admin</span>
        <i>消息</i>
        <b>5</b>
    </div>
    </div>
<include file="Public/footer" />
