<include file="./Application/Admin/View/Public/header.html" title="文档注释"/>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:;">PHP</a></li>
            <li><a href="javascript:;">图像操作</a></li>
            <li><a href="javascript:;">验证码</a></li>
        </ul>
    </div>
    <div class="formbody">
        <form action="__CONTROLLER__/submit" method="post" autocomplete="off">
            <div class="formtitle"><span>验证码功能</span></div>
            <ul class="forminfo">
                <li>
                    <label>验证码：</label>
                    <input name="code" type="text" class="dfinput" value=""/>
                    <img src="__CONTROLLER__/captcha" title="点击刷新" onclick="$(this).attr('src', '__CONTROLLER__/captcha?random='+Math.random());" style="cursor: pointer;width: 120px;height:40px;">
                </li>
                <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="提 &nbsp;&nbsp; 交"/></li>
            </ul>
        </form>
    </div>
    <a href="https://www.kancloud.cn/manual/thinkphp/1877" target="_blank" style="color:blue;float:right;margin-right: 20px;">参考手册</a>
<include file="./Application/Admin/View/Public/footer.html"/>
