<include file="./Application/Admin/View/Public/header.html" title="左侧导航" />
<script type="text/javascript">
    window.open('__MODULE__/createApi/index','rightFrame');
</script>
</head>
<body style="background:#f0f9fd;">
    <div class="lefttop"><span></span>JS代码库</div>
    <dl class="leftmenu">
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/leftico01.png" /></span>常用代码
    </div>
        <ul class="menuson">
        <li class="active">
            <cite></cite>
            <a href="__MODULE__/createApi/index" target="rightFrame">代码列表</a>
            <i></i>
        </li>
        <li>
            <cite></cite>
            <a href="__MODULE__/createPhpUnit/index" target="rightFrame">新增单元测试</a>
            <i></i>
        </li>
        <li>
            <cite></cite>
            <a href="__MODULE__/createApiDoc/index" target="rightFrame">编写文档注释</a>
            <i></i>
        </li>
        <li>
            <cite></cite>
            <a href="__MODULE__/createTP/index" target="rightFrame">新增TP控制器</a>
            <i></i>
        </li>
        </ul>
    </dd>
    <dd>
    <div class="title">
    <span><img src="__PUBLIC__/images/leftico02.png" /></span>图像操作
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="#" target="rightFrame">生成二维码</a><i></i></li>
        </ul>
    </dd>
    <dd><div class="title"><span><img src="__PUBLIC__/images/leftico03.png" /></span>编辑器</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">自定义</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="#">信息列表</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>
    </dd>
    <dd><div class="title"><span><img src="__PUBLIC__/images/leftico04.png" /></span>日期管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">自定义</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="#">信息列表</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>
    </dd>
    </dl>
<include file="./Application/Admin/View/Public/footer.html" />
