<include file="./Application/Admin/View/Public/header.html" title=""/>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:;">首页</a></li>
            <li><a href="javascript:;">常用资料</a></li>
            <li><a href="javascript:;">类图</a></li>
        </ul>
    </div>
    <div class="formbody">
            <div class="formtitle"><span>类图</span></div>
            <img src="__PUBLIC__/UML/codeClass.jpg">
    </div>
<include file="./Application/Admin/View/Public/footer.html"/>
