<include file="./Application/Admin/View/Public/header.html" title="新增分类" />
<script type="text/javascript">
    $(function(){
        $(".select1").uedSelect({
            width : 345
        });
    });
</script>
</head>
<body>
    <div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="javascript:;">首页</a></li>
    <li><a href="javascript:;">新增分类</a></li>
    </ul>
    </div>
    <div class="formbody">
    <div id="usual1" class="usual">
    <div class="itab">
    <ul>
    <li><a href="#tab1" class="selected">新增分类</a></li>
    </ul>
    </div>
    <div id="tab1" class="tabson">
    <form action="__CONTROLLER__/submit" method="post" autocomplete="on">
    <ul class="forminfo">
    <li><label>分类名称<b>*</b></label>
        <input name="title" type="text" class="dfinput" value=""/>
    </li>
    <li><label>顶级分类<b>*</b></label>
        <div class="vocation">
            <select class="select1" name="pid" onchange="getCate()">
                <option value="0" selected="selected">无</option>
                <foreach name="cate" item="val">
                <option value="{$val.id}">{$val.title}</option>
                </foreach>
            </select>
        </div>
    </li>
    <li><label>二级分类<b></b></label>
        <div class="vocation">
            <select class="select1" name="ppid" id="ppidOption">
                <option value="0" selected="selected">无</option>
            </select>
        </div>
    </li>
    <li>
        <label>连接地址<b>*</b></label>
        <input name="url_path" type="text" class="dfinput" value=""/>
        <i>如：/Admin/Index/index</i>
    </li>
    <li>
        <label>图片地址<b></b></label>
        <input name="img_path" type="text" class="dfinput" value=""/>
        <i>如：/Public/images/a.png</i>
    </li>
    <li>
        <label>排序<b></b></label>
        <input name="sort" type="text" class="dfinput" value="0"/>
        <i>数值越小越靠前</i>
    </li>
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="马上发布"/></li>
    </ul>
    </form>
    </div>
    </div>
    </div>
<include file="./Application/Admin/View/Public/footer.html" />